@plugin "daisyui/theme" {
    name: "mytheme";
    default: true;
    prefersdark: false;
    color-scheme: light;
  
    /* Base colors */
    --color-base-100: #E4EDF2;
    --color-base-200: #C8D9E1;
    --color-base-300: #AFC8D5;
    --color-base-content: #011826;
  
    /* Primary brand color */
    --color-primary: #011826;
    --color-primary-content: #E4EDF2;
  
    /* Secondary brand color */
    --color-secondary: #88B0BF;
    --color-secondary-content: #011826;
  
    /* Accent brand color */
    --color-accent: #3E6E8C;
    --color-accent-content: #E4EDF2;
  
    /* Neutral colors */
    --color-neutral: #042940;
    --color-neutral-content: #E4EDF2;
  
    
    --color-info: #3E6E8C;
    --color-info-content: #E4EDF2;

    --color-success: #4CAF50;
    --color-success-content: #FFFFFF;

    --color-warning: #FFC107;
    --color-warning-content: #011826;

    --color-error: #F44336;
    --color-error-content: #FFFFFF;
  
    /* Border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
  
    /* Base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
  
    /* Border size */
    --border: 1px;
  
    /* Effects */
    --depth: 1;
    --noise: 0;
  }
  