<!-- Backdrop -->
<div
  class="fixed inset-0 bg-primary/75 backdrop-blur-xs transition-opacity duration-300 ease-out z-10"
  [class.opacity-100]="modalOpen"
  [class.opacity-0]="!modalOpen"
  [class.pointer-events-auto]="modalOpen"
  [class.pointer-events-none]="!modalOpen">
</div>

<!-- Modal wrapper -->
<div
  class="fixed inset-0 z-10 w-screen overflow-y-auto transition-opacity duration-300 ease-out"
  [class.opacity-100]="modalOpen"
  [class.opacity-0]="!modalOpen"
  [class.pointer-events-auto]="modalOpen"
  [class.pointer-events-none]="!modalOpen">
  
  <div class="flex min-h-full justify-center p-3 text-center items-center sm:p-0">
    <!-- Corpo do modal -->
    <div
      class="relative transform overflow-hidden rounded-xl bg-base-100 text-left shadow-xl transition-all duration-300 ease-out sm:my-8 sm:w-full 
      sm:max-w-lg h-110 flex flex-col justify-between items-center"
      [class.opacity-100]="modalOpen"
      [class.opacity-0]="!modalOpen"
      [class.translate-y-0]="modalOpen"
      [class.translate-y-4]="!modalOpen"
      [class.sm\\:scale-100]="modalOpen"
      [class.sm\\:scale-95]="!modalOpen">
      
      <!-- Conteúdo -->
      <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <h2 class="text-lg sm:text-2xl">Sugestões de Perguntas</h2>
      </div>

      <div class="flex flex-col w-xs px-8 sm:px-0 sm:w-sm h-[60%] justify-around">
        <div *ngIf="loading" class="flex w-full flex-col gap-6 mx-auto">
          <div class="skeleton h-10 w-full rounded-4xl"></div>
          <div class="skeleton h-10 w-full rounded-4xl"></div>
          <div class="skeleton h-10 w-full rounded-4xl"></div>
          <div class="skeleton h-10 w-full rounded-4xl"></div>
        </div>
        <input
          *ngFor="let suggestion of suggestions; let i = index"
          class="join-item btn rounded-4xl"
          type="radio"
          name="options"
          [attr.aria-label]="suggestion"
          [value]="i"
          [(ngModel)]="selectedSuggestion"
        />
      </div>

      <!-- Botões -->
      <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 sm:justify-center sm:p-6 sm:pt-4">
        <button (click)="sendMessage()" type="button" class="btn btn-accent inline-flex justify-center px-3 py-2 text-sm font-semibold shadow-xs w-40 rounded-4xl">Ok</button>
        <button (click)="closeModal()" type="button" class="btn btn-sm btn-circle btn-ghost absolute right-0 top-0 sm:right-2 sm:top-2">✕</button>
      </div>
    </div>
  </div>
</div>
